@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

:root {
	--primary-clr: #14213d;
	--secondary-clr: #fca311;
	--danger-clr: crimson;
	--success-clr: #4caf50;

	--btn-bg-danger: var(--danger-clr);
	--btn-txt-clr-danger: white;
	--btn-bg-success: var(--success-clr);
	--btn-txt-clr-success: white;
}

:root[theme='light'] {
	--bg-clr: white;
	--bg-clr-sec: #fafafa;
	--divider-clr: #eeeeee;

	--btn-bg: var(--primary-clr);
	--btn-txt-clr: white;
	--btn-bg-sec: var(--secondary-clr);
	--btn-txt-clr-sec: black;

	--input-border-focus-clr: var(--primary-clr);
}

main {
	height: 100vh;
	background-color: var(--bg-clr);
}

button {
	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.card {
	border-radius: 4px;
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
		0 1px 5px 0 rgb(0 0 0 / 12%);
}

input[type='text'],
input[type='password'] {
	background-color: var(--bg-clr-sec);
	border: 1px solid var(--divider-clr);
	border-radius: 4px;
	outline: none;
	padding: 8px;
	transition: all 100ms ease-out;
}

input[type='text']:focus,
input[type='password']:focus {
	border: 1px solid var(--input-border-focus-clr);
}
